.projects_container {
  width: 100%;
  max-width: 1280px;
  margin-top: 32px;
}

.project {
  margin-bottom: 32px;
}

.projects_label {
  margin-bottom: 32px;
  animation: dropAnimationReverse 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.projects_label h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.8rem;
}

.projects_label p {
  font-size: 1rem;
  opacity: 0.7;
  margin-top: -4px;
}

.project_name {
  padding-left: 6px;
  margin-bottom: 26px;
  animation: dropAnimationReverse 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.project_name h2 {
  font-size: 1.5rem;
}

.project_name a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease 0s;
}

.project_name a:hover {
  opacity: 1;
}

.project_name p {
  text-align: justify;
}

.project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: dropAnimationReverse 1s forwards;
  animation-delay: 2.2s;
  opacity: 0;
  max-width: 90%;
  margin: 0 auto;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.tags p {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 6px;
  border-radius: 12px;
  max-width: 100px;
  flex-basis: 200;
}

@keyframes dropAnimationReverse {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1280px) {
  .projects_container {
    padding: 0 40px;
  }
}

@media (max-width: 760px) {
  .projects_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project_name h2 {
    text-align: center;
  }
}
